.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
}

.sidebar-content-wrapper {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    width: 100%;
}